<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGyAf7rZ53ZIhWRZynApgSdSFA_cmAYQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>115559184211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitscollision.giftee.release</string>
	<key>PROJECT_ID</key>
	<string>giftee-b630b</string>
	<key>STORAGE_BUCKET</key>
	<string>giftee-b630b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115559184211:ios:dd62754c232f1dbf6353a6</string>
</dict>
</plist>